[Desktop Entry]
Icon=text-html
Name=Dasgboard
Type=Link
URL[$e]=http://redash.lab.karpov.courses/public/dashboards/Tl3E7Q6lpyNsUnDuMETP3tfcVSD3i2ReTT8E5VNS?org_slug=default
